@model IEnumerable<EmployeeDetails.Models.Employee>

@{
    ViewData["Title"] = "Details Page";
}
    
    <div class="text-center">
        <h3>Employee Details</h3>
        
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qualification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qualification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.DepartName)
                    </td>
                    <td><a href="~/CRUD/Edit/@item.Eid" class="btn btn-primary">EDIT</a></td>
                    <td><a href="~/CRUD/Delete/@item.Eid" class="btn btn-danger">DELETE</a></td>
                </tr>
                    <tr></tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="~/CRUD/Create" class="btn btn-primary">ADD NEW EMPLOYEE</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
